# Compiled class files
*.class

# Build output
/build/

# NetBeans project files
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/project.properties
/nbproject/project.xml

# NetBeans configuration directory
/nb-configuration.xml

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/

# Maven build directory
/target/

# Dependencies
/lib/
